<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
      
<div class="home-content"> 
   
 <header>
  <div class="centered d-flex justify-content-center">
    
        <ul class="navbar">
            <li><a>HOME</a></li>
            <li><a routerLink="/about-us">ABOUT US</a></li>

            <li><a routerLink="/articles">ARTICLES</a></li>
            <li><a href="#">CAREER</a></li>
            <li><a href="#">CAREERs</a></li>
            <li><a href="#">CONTACT </a></li>
            <li><a routerLink="/our-menu">OUR MENU </a></li>
            <li><a href="#">MEDIA</a></li>
            <li><a href="#">TESTIMONIALS</a></li>
            <li><a href="#">REFERENCES</a></li>

        </ul>            
    
</div>
 </header>
 
    <div class="_content">
        <p>A Wide range of recipes for you</p>
        <p class="recipes">DELICIOUS RECIPES</p>
        <i>"Food May Be Essential as fuel to the body,<br>
            But Good Food is fuel for the Soul"-Malcolm Forbes</i><br>
        <div class="btn"(click)="onMenuSelected()">Check Our Menu</div>
    </div>
    
</div> 


    </div>
</body>
</html>
